
.text-light {
  color: var(--color-light);
}

a {
  text-decoration: none;  
}
.carousel-caption a {
  font-size: 20px;
  color: #fff;
  background-color: #000000;
  padding: 10px 10px;
}
.btn {
  width: max-content;
  display: inline-block;
  color: var(--color-primary);
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  transition: var(--transition);
}

.btn:hover {
  background: var(--color-white);
  color: var(--color-bg);
  border-color: transparent;
}

.btn-primary {
  background: var(--color-primary);
  color: var(--color-bg);  
}


/* Media Queries */
@media screen and (max-width: 1024px) {

  .container {
    width: var(--container-width-md);
  }

  section {
    margin-top: 6rem;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }

  section > h2{
    margin-bottom: 2rem;
  }
}

/* Product Section */
.product_section {
  /* margin-top: 10px; */
  padding-top: 5px;
}

.card-group-category .row {
 background-color: white;
 padding-bottom: 10px;
}


.card-group-category {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-category {
  flex: 1 0 10%; /* 100% / 10 cards = 10% */
  margin: 1%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
 
}

.card-category:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-img-categories {
  width: 100%;
  height: 145px;
  object-fit: contain;
  border-top-left-radius: 10px; /* Đường cong góc hình ảnh */
  border-top-right-radius: 10px;
}

.category-name {
  text-align: center;
  color: #333;
  font-size: 1.2em;
}



.heading_container {
  text-align: center; 
  margin-bottom: 40px;
}

.heading_container h2 {
  font-size: 2rem;
  color: #333;
  font-weight: bold;  
}
.wrapper-content {
  background-color: #fff;
  margin-top: 20px;
  padding-bottom: 10px;
  border-radius: 5px;
}
.heading_container h2 span {
  color: var(--color-primary);
}
.card-product {
  position: relative;
  flex-direction: column;
  display: flex;
  margin: 0px 5px 0px 10px;
}


.img-box .card-img-product {
  position: relative;
  margin-bottom: 10px;
  height: 90%;
}
.detail-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.detail-box .product-span-name {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  width: fit-content;
  max-width: 24ch;
}
.product-box-price {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 10px;
  border-radius: 15px;
  width: 130px;
  height: 28px;
  background-color: red;
  color: white;
}
.product-box-price span {
  padding: 0px 0px 0px 10px;
}
.card-home {
  margin-top: 20px;
  border: none;
}

.watch-all {
  font-size: 1rem;
  font-weight: bold;
  margin: 10px 0px 0px 0px;
}
@media screen and (max-width: 768px) {
  
  
  .heading_container h2 {
    font-size: 1.5rem; /* Giảm kích thước font chữ cho tiêu đề trên điện thoại */
  }

  .card-category {
    flex: 1 0 45%; /* Điều chỉnh kích thước của các card danh mục trên điện thoại */
    margin: 2%; /* Tăng khoảng cách giữa các card danh mục */
  }

  .card-img-categories {
    height: auto; /* Thay đổi chiều cao của hình ảnh để nó không bị méo trên điện thoại */
  }

  .heading_container {
    margin-bottom: 20px; /* Giảm khoảng cách giữa tiêu đề và phần content trên điện thoại */
  }

  .wrapper-content {
    margin-top: 10px; /* Giảm khoảng cách trên cùng của phần content trên điện thoại */
  }

  .card-product {
    margin: 10px 5px; /* Điều chỉnh khoảng cách giữa các card sản phẩm trên điện thoại */
  }

  .product-box-price {
    width: auto; /* Thay đổi chiều rộng của hộp giá để nó có thể chứa văn bản trên điện thoại */
    font-size: 1rem; /* Giảm kích thước font chữ cho giá sản phẩm trên điện thoại */
    padding: 5px 10px; /* Điều chỉnh padding của hộp giá để nó trông phù hợp hơn trên điện thoại */
    text-align: center; /* Căn giữa văn bản trong hộp giá trên điện thoại */
  }

  .product-box-price span {
    padding: 0; /* Loại bỏ padding trái cho văn bản trong hộp giá trên điện thoại */
  }
  .watch-all  {
    display: none;
  }
}