.navbar {
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); */
    padding: 10px;
    transition: all 0.3s ease;
}
  .navbar:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .navbar-brand {
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  
  .navbar-brand:hover {
    color: #ff6f00;
  }
  
  .navbar-link {
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    margin-right: 20px;
    transition: all 0.3s ease;
  }
  
  .navbar-link:hover {
    color: #ff6f00;
    transform: scale(1.1);
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
  }
  
  .navbar-icon {
    color: rgb(0, 0, 0);
    margin-right: 10px;
    transition: all 0.3s ease;
  }
  
  .navbar-icon:hover {
    color: #ff6f00;
  }
  
  .navbar-username {
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 500;
    margin-right: 10px;
    transition: all 0.3s ease;
  }
  
  .navbar-username:hover {
    color: #ff6f00;
    text-decoration: underline;
  }
  
  .navbar-logout {
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  
  .navbar-logout:hover {
    color: #ff6f00;
  }
  
  .navbar-cart {
    position: relative;
    animation: shake 1s infinite;
  }

  
  